{% extends '::layout.html.twig' %}

{% block title 'Importar alumnado' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li><a href="{{ path('alumno_listar_todo') }}">Gestionar alumnado</a></li>
        <li class="active">Importar alumnado</li>
    </ol>

    <h1 class="well">Importar alumnado desde Séneca</h1>

    <div class="alert alert-info" role="alert">
        Para proceder a la importación, genere un archivo .CSV desde la aplicación Séneca y
        súbalo en el siguiente formulario.
    </div>

    {{ form(formulario) }}

    <a href="{{ path('alumno_listar_todo') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado de alumnado</a>
{% endblock %}
