{% extends '::layout.html.twig' %}

{% block title 'Gestionar tutoría' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li class="active">Gestionar alumnado</li>
    </ol>

    <h1 class="well">Listado de alumnado del centro</h1>

    {% embed 'AppBundle:App:partial_listar_resumen.html.twig' %}
        {% block lista_item "Estudiante" %}
        {% block lista_extra_cabecera %}<th></th>{% endblock %}
        {% block lista_extra_fila %}<td><a href="{{ path('alumno_detalle', {'alumno': item[0].id}) }}" class="btn btn-default btn-xs btn-block"><i class="fa fa-search"></i> Detalles</a></td>{% endblock %}
    {% endembed %}

    <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>&nbsp;<a href="{{ path('alumno_importar') }}" class="btn btn-warning"><i class="fa fa-upload"></i> Importar o actualizar alumnado desde Séneca</a>
{% endblock %}
