{% extends '::layout.html.twig' %}

{% block title 'Gestionar tutoría' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li class="active">Gestionar alumnado</li>
    </ol>

    <h1 class="well">Listado de alumnado del centro</h1>

    {% set ruta_detalle = 'alumno_detalle' %}
    {% include 'AppBundle:Alumno:partial_listar.html.twig' %}

    <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>
{% endblock %}
