{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>¡Bienvenido {{ app.user.nombre }}!</h1>
        <section class="row tile-row">
            <article class="col-md-4 tile tile-col-4 tile-red">
                <a class="tile-link" href="{{ url('nuevo_parte') }}">
                    <div class="tile-icon-holder">
                        <i class="fa fa-edit fa-4x"></i>
                    </div>
                    <div class="text-holder">
                        <h4>Crear un nuevo parte</h4>
                        <p>Dirigido a uno o varios estudiantes</p>
                    </div>
                </a>
            </article>
            <article class="col-md-4 tile tile-col-4 tile-orange">
                <a class="tile-link" href="#">
                    <div class="tile-icon-holder">
                        <i class="fa fa-phone fa-4x"></i>
                    </div>
                    <div class="text-holder">
                        <h4>Notificar un parte a la familia</h4>
                        <p>Para finalizar el proceso</p>
                    </div>
                </a>
            </article>
            <article class="col-md-4 tile tile-col-4 tile-lime">
                <a class="tile-link" href="#">
                    <div class="tile-icon-holder">
                        <i class="fa fa-book fa-4x"></i>
                    </div>
                    <div class="text-holder">
                        <h4>Gestionar los partes</h4>
                        <p>Permite modificarlos o añadir observaciones</p>
                    </div>
                </a>
            </article>
            <article class="col-md-4 tile tile-col-4 tile-purple">
                <a class="tile-link" href="{{ url('usuario_salir') }}">
                    <div class="tile-icon-holder">
                        <i class="fa fa-cog fa-4x"></i>
                    </div>
                    <div class="text-holder">
                        <h4>Modificar mis datos</h4>
                        <p>Cambia los datos propios</p>
                    </div>
                </a>
            </article>
            <article class="col-md-4 tile tile-col-4 tile-bluedark">
                <a class="tile-link" href="{{ url('usuario_salir') }}">
                    <div class="tile-icon-holder">
                        <i class="fa fa-power-off fa-4x"></i>
                    </div>
                    <div class="text-holder">
                        <h4>Desconectar</h4>
                        <p>Salir de la aplicación</p>
                    </div>
                </a>
            </article>
        </section>
    </div>
{% endblock %}
