{% extends '::layout.html.twig' %}

{% block title 'Importar usuarios' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li><a href="{{ path('usuario_listar') }}">Gestionar usuarios</a></li>
        <li class="active">Importar usuarios</li>
    </ol>

    <h1 class="well">Importar usuarios desde Séneca</h1>

    <div class="alert alert-info" role="alert">
        Para proceder a la importación, genere un archivo .CSV desde la aplicación Séneca y
        súbalo en el siguiente formulario.
    </div>

    {{ form(formulario) }}

    <a href="{{ path('usuario_listar') }}" class="btn btn-info">Volver al listado de usuarios</a>
{% endblock %}
