{% extends '::layout.html.twig' %}

{% block title 'Listado de grupos' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li class="active">Listado de usuarios</li>
    </ol>

    <h1 class="well">Listado de usuarios del centro</h1>

    {% embed 'AppBundle:App:partial_listar_resumen.html.twig' %}
        {% block lista_item "Usuario" %}
        {% block lista_extra_cabecera %}<th></th>{% endblock %}
        {% block lista_extra_fila %}<td><a href="{{ path('usuario_modificar_otro', {'usuario': item[0].id}) }}" class="btn btn-default btn-xs btn-block"><i class="fa fa-edit"></i> Modificar</a></td>{% endblock %}
    {% endembed %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('usuario_nuevo') }}" class="btn btn-success">Crear un usuario</a>&nbsp;
    {% endif %}
    <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>
{% endblock %}
