{% extends '::layout.html.twig' %}

{% block title 'Modificar datos personales' %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="active">Modificar datos personales</li>
        </ol>
        {{ form(formulario) }}
    </div>
{% endblock %}
