{% extends '::layout.html.twig' %}

{% block title 'Listado de grupos' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li class="active">Listado de grupos</li>
    </ol>

    <h1 class="well">Listado de grupos del centro</h1>

    {% embed 'AppBundle:App:partial_listar_resumen.html.twig' %}
        {% block lista_item "Grupo" %}
    {% endembed %}

    <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>
{% endblock %}
