{% extends '::layout.html.twig' %}

{% block title 'Gestionar partes' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li class="active">Gestionar partes</li>
    </ol>

    <h1 class="well">Gestionar partes</h1>
    <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>
{% endblock %}