{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="active">Crear un nuevo parte</li>
        </ol>
        {{ form(formulario) }}
    </div>
{% endblock %}
