{% set detalle = false %}
{% include 'AppBundle:Sancion:partial_sancion_imprimir.html.twig' %}
{% set detalle = true %}
{% for parte in sancion.partes %}
    {% include 'AppBundle:Parte:partial_parte_imprimir.html.twig' %}
{% endfor %}

<p>Lo que les comunico para su conocimiento, rogándoles firmen el enterado y lo devuelvan al Centro lo antes posible.</p>

{% include 'AppBundle:App:partial_firma_imprimir.html.twig' %}

<p align="center">LA DIRECCIÓN</p>
<p></p><p></p>
<p align="center">Fdo.: {{ director }}</p>