{% extends '::layout.html.twig' %}

{% block title 'Notificar sanción' %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="active">Notificación de sanciones a las familias</li>
        </ol>

        <h1 class="well">Notificación de sanciones a las familias</h1>

        {% set mensaje = 'Se marcará la sanción como notificada. ¿Desea continuar?' %}
        {% for alumno in alumnos %}
            <div class="panel panel-default">

                {% include 'AppBundle:Alumno:partial_alumno.html.twig' %}

                {% for parte in alumno.partes if parte.sancion and parte.sancion.fechaComunicado is null and parte.sancion.motivosNoAplicacion is null %}
                    {% set sancion = parte.sancion %}
                    {% include 'AppBundle:Sancion:partial_sancion.html.twig' %}
                {% endfor %}

                {% include 'AppBundle:App:partial_notificar.html.twig' %}
            </div>
        {% endfor %}

        <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>

    </div>
{% endblock %}
